body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    margin-bottom: 100px;
    /* Added margin */
}

header h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    color: #666;
}

nav {
    background-color: #333;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    /* flex-grow: 1; */
    margin-left: 45px;
    margin-right: 45px;
    position: relative;
}

.nav_div p {
    font-size: 22px;
    margin-bottom: 12px;
    margin-top: 2px;
    color: #ffffff;
}

.dropdown-toggle {
    background-color: #fff;
    color: #333;
    padding: 5px;
    cursor: pointer;
    padding: 5px 3px 5px 10px;
    border-radius: 6px;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 0;
}

.dropdown-content a:hover {
    background-color: #ddd;
}